<section class="studentinfo container"> 
  <div class="card waves-effect waves-block waves-light" ng-model="students">
  	<div class="card-image" id="imageTest">
  		<img class="activator hoverZoomLink" ng-src="images/{{students[whichItem].shortname}}.png" alt="Photo of {{students[whichItem].name}}">
  	</div>
  	<div class="right-content">
    	<span class="card-title">
    		{{students[whichItem].name}}	
    	</span>
    	<img src="images/startuplogo.png" alt="">
    	<p>{{students[whichItem].title}} at {{students[whichItem].company}}</p>
    	<div class="card-content">
    		<h5>{{students[whichItem].track}}</h5>
      	<p class="bio">{{students[whichItem].bio}}</p>
    	</div>
    	<div class="card-action">
      	<a href="/#list">&laquo; Back to search</a>
      	<ul class="social">
      		<li><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></li>
      		<li><i class="fa fa-github fa-lg" aria-hidden="true"></i></li>
      		<li><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></li>
      	</ul>
    	</div>
  	</div>
	</div>
	<div class="center-align">
		<a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
  	<a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
	</div>     	
</section>

